@import "../../assets/variables";

button {
  display: block;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  width: 100%;
  text-decoration: none;
  color: inherit;
  border: 1px solid $primary-color;
  text-align: center;
  transition: all .35s;
  background: $background-color;
}

button:hover{
  color: inherit;
  background: $primary-color;
}

button:hover:after{
  width: 100%;
}

.submit-form {
  a{
    color: $accent-color;
  }
}