.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: rotateY(-180deg);
}

.magnetic-bar {
  width: 100%;
  background-color: #000000;
  height: 25%;
}

.cvv-input {
  width: 100%;
  background-color: white;
}