@import "../../assets/main";

.payment-form {
  background: white;
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.field {
  width: 100%;
}

.id-shadow {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}