@import "../../assets/main";

.payment-form {
  background: $background-color;
  border-radius: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: $text-color;
}

.field {
  width: 100%;
}

.id-shadow {
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}